USE [NguyenHuuThangDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 06/19/2021 21:43:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([ID], [Name], [Description]) VALUES (N'1', N'Thước', N'Đây là thước')
INSERT [dbo].[Category] ([ID], [Name], [Description]) VALUES (N'2', N'Bút', N'Đây là bút')
/****** Object:  Table [dbo].[UserAccount]    Script Date: 06/19/2021 21:43:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[ID] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[UserAccount] ([ID], [UserName], [Password], [Status]) VALUES (N'0', N'0', N'0', N'Active')
INSERT [dbo].[UserAccount] ([ID], [UserName], [Password], [Status]) VALUES (N'1', N'admin', N'admin', N'Active')
INSERT [dbo].[UserAccount] ([ID], [UserName], [Password], [Status]) VALUES (N'4', N'4', N'4', N'Blocked')
/****** Object:  Table [dbo].[Product]    Script Date: 06/19/2021 21:43:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UnitCost] [int] NULL,
	[Quantity] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[CategoryID] [nvarchar](50) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Product] ([ID], [Name], [UnitCost], [Quantity], [Image], [Description], [Status], [CategoryID]) VALUES (N'2', N'Bút Máy', 10000, 99, N'https://www.ozeo.vn/wp-content/uploads/2019/06/but-may-Pilot-V.jpg', N'Đây là Bút Máy', N'Còn hàng', N'2')
INSERT [dbo].[Product] ([ID], [Name], [UnitCost], [Quantity], [Image], [Description], [Status], [CategoryID]) VALUES (N'3', N'Bút Chì B12', 2000, 200, N'https://vn-test-11.slatic.net/p/8aabf70bce877c96c8a352843d46cf22.jpg_360x360q90.jpg_.webp', N'Đây là Bút Chì B12', N'Còn hàng', N'2')
INSERT [dbo].[Product] ([ID], [Name], [UnitCost], [Quantity], [Image], [Description], [Status], [CategoryID]) VALUES (N'4', N'Bút Màu Siêu Vip', 2500, 200, N'https://salt.tikicdn.com/cache/w444/ts/product/25/92/47/7f6a3e14d58119b668121fdaf842b60b.jpg', N'Đây là Bút Màu Siêu Vip', N'Còn hàng', N'2')
/****** Object:  ForeignKey [fk_Product_Category]    Script Date: 06/19/2021 21:43:25 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [fk_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [fk_Product_Category]
GO
